venv
*.pyc
firmament/settings/settings.py
node_modules
media
db.sqlite3
package.json
samples
celerybeat-schedule
docs/*
.idea

# prod build assets
assets/dist
webpack-stats.json
webpack-stats-prod.json
