{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
  <div id="content">
    <div class="row">
      <h2>Decisions of the Massachusetts Supreme Judicial Court</h2>
      {% for volume in volumes %}
        <div class="row">
          <div class="col-sm-12"><h3>{{ volume }}</h3></div>
        </div>
        {% for case in volume.published_cases %}
          <div class="row">
            <div class="col-sm-6">{{ case.citation }}</div>
            <div class="col-sm-2"><a href="{{ case.proofs.all.0.pdf.url }}">as PDF</a></div>
            <div class="col-sm-2"><a href="{{ case.proofs.all.0.pdf.url }}">as HTML</a></div>
            <div class="col-sm-2"><a href="{{ case.proofs.all.0.pdf.url }}">as XML</a></div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'main' %}
{% endblock %}