{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
  <div id="content">
    <div class="row">
      <div class="col-sm-12"><h2>Decisions of the Massachusetts Supreme Judicial Court</h2></div>
    </div>
      {% for volume in volumes %}
        <div class="row">
          <div class="col-sm-12"><h3>{{ volume }}</h3></div>
        </div>
        {% for case in volume.published_cases %}
          <div class="row">
            <div class="col-sm-6">{{ case.citation }}</div>
            <div class="col-sm-2">
              {% if case.current_proof and case.current_proof.pdf %}
                <a href="{{ case.current_proof.pdf.url }}">as PDF</a>
              {% endif %}
            </div>
            <div class="col-sm-2">
              {% if case.current_proof and case.current_proof.html %}
                <a href="{{ case.current_proof.html.url }}">as HTML</a>
              {% endif %}
            </div>
            <div class="col-sm-2">
              {% if case.current_proof and case.current_proof.xml %}
                <a href="{{ case.current_proof.xml.url }}">as XML</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'main' %}
{% endblock %}
